@keyframes like {
    0% {
      scale: 1;
    }
  
    50% {
      scale: 1.25;
    }
  
    100% {
      scale: 1;
    }
  }
  
  @keyframes sparks {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

  .sparks {
    opacity: 0;
  }
  
  .core {
    fill: transparent;
    transition: fill 0.3s ease-in 0.03s;
  }
  
  .main-body {
    fill: transparent;
    transition: fill 0.3s ease-in;
  }
  
  .card__icon-button:hover .core {
    fill: var(--heart-contour);
    transition: fill 0.3s ease-in;
  }
  
  .card__icon-button:hover .main-body {
    fill: var(--heart-contour);
    transition: fill 0.3s ease-in 0.05s;
  }
  
  .card__icon-button:active .core {
    fill: var(--heart-main-body);
    transition: fill 0.3s ease-in;
  }
  
  .card__icon-button:active .main-body {
    fill: var(--heart-main-body);
    transition: fill 0.3s ease-in 0.05s;
  }
  
  .like-icon.is-liked .core {
    fill: var(--heart-main-body);
    transition: fill 0.3s ease-in;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--heart-main-body);
    transition: fill 0.3s ease-in 0.03s;
  }
  
  .like-icon.is-liked .contour {
    fill: var(--heart-main-body);
    transition: fill 0.3s ease-in 0.06s;
  }
  
  .like-icon.is-liked .heart {
    animation: like 0.3s ease-in 0.1s;
    transform-origin: center center;
  }
  
  .like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s;
  }
  
  .contour {
    transition: 0.1s linear;
  }