.button {
  border: none;
  background-color: transparent;
  font-family: var(--accent-font), fantasy;
  font-size: var(--small-font-size);
  cursor: pointer;
  transition: 0.3s ease;
}

.button__styled {
  border: var(--border);
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button__styled:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button:focus-visible {
  outline: var(--border);
  outline-offset: -1px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.button__styled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
}

.button__styled:hover::before {
  transform: translateX(0);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  inline-size: clamp(375px, 100%, 700px);
  margin-inline: auto;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--line-height);
  color: var(--font-color);
  font-variation-settings: "wght" var(--text-font-weight);
}

.header {
  margin-block: 100px;
  padding-block: 128px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-family: var(--accent-font), fantasy;
  background-color: var(--bg-color);
  border: var(--border);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1em;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1em;
  text-transform: uppercase;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--bg-color);
  border: var(--border);
}

.card__title {
  padding-block: 3px;
  padding-inline: 10px;
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--title-font-weight);
  line-height: var(--card-title-line-height);
}

.card__image {
  position: relative;
}

.card__image-picture {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-block: var(--border);
}

.grayscale {
  filter: grayscale(50%);
}

.saturate {
  filter: saturate(200%);
}

.contrast {
  filter: contrast(250%);
}

.sepia {
  filter: sepia(50%);
}

.hue-rotate {
  filter: hue-rotate(180deg);
}

.brightness {
  filter: brightness(150%);
}

.invert-contrast {
  filter: invert(100%) contrast(150%);
}

.card__image-label {
  position: absolute;
  z-index: 2;
  top: var(--label-margin-top);
  right: var(--label-margin-right);
  mix-blend-mode: hard-light;
  font-family: var(--accent-font), fantasy;
  font-size: var(--small-font-size);
  color: var(--font-color);
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color), 1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__text {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__button {
  margin-inline-end: 25px;
  margin-block-end: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  padding: 0;
}

.card__like-button {
  inline-size: 130px;
  padding-block: 10px;
  padding-inline: auto;
}

.button__save {
  margin-inline: auto;
  margin-block-start: 50px;
  margin-block-end: 105px;
  padding: 15px 20px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.button__save-icon {
  inline-size: var(--floppy-size);
  aspect-ratio: 1 / 1;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.dialog {
  inline-size: clamp(341px, 90.93vw, 353px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 30px;
  padding-block: 30px;
  border: var(--border);
  background-color: var(--bg-color);
  position: fixed;
  inset: 0;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog[open]::backdrop {
  background-color: rgb(0, 0, 0, 75%);
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__content-icon {
  min-inline-size: 39px;
  max-inline-size: 39px;
}

.dialog__content-text {
  max-inline-size: 234px;
  font-family: var(--accent-font), fantasy;
  display: inline-block;
  font-size: var(--small-font-size);
  line-height: 1.5em;
  text-transform: uppercase;
}

.dialog__button {
  padding-block: 10px;
}

.dialog__button-text {
  text-transform: uppercase;
}

@media (width <= 375px) {
  .button__save {
    flex-direction: column;
  }

  .header {
    padding-block: 120px;
  }

  .card__title {
    padding-block-start: 4px;
    padding-block-end: 5px;
  }

  .dialog {
    padding-inline: 40px;
    max-width: 341px;
  }
}
